<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
            {{ encore_entry_link_tags('app') }}
    </head>
    <body>

     <nav>
            <ul>
                <li><a href="{{ path('article_index') }}">Tous les articles</a></li>
                <li><a href="{{ path('article_new') }}">Nouvel article</a></li>
            </ul>
        </nav>


        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
            {{ encore_entry_script_tags('app') }}
    </body>
</html>
